 body {
            font-family: 'Arial', sans-serif;
            margin: 20px;
            padding: 20px;
            background-color: #373737;
            color: #333;
        }
        .welcome{
            font-size: 80px;
        }
        .ImageContainer{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
        }
        img {
            width: 140px;
            height: auto;
            border-radius: 100px;
        }

        header {
            text-align: center;
            margin-bottom: 20px;
        }

        h1 {
            color: #ea9b25;
        }

        section {
            margin-bottom: 30px;
        }
        .section{
            color: #ea9b25;
            background-color: #334152;
            display: flex;
            flex-flow: column;
            position: relative;
            padding: 32px;
            padding-bottom: 50px;
            border-radius: 20px;
        }
        .sectionTitle{
            color: #ea9b25;
            display: flex;
            justify-content: center;
            align-content: center;
            font-size: 35px;

        }
        .paragraphs{
            color: #ea9b25;
            box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
            background: rgba(255,255,255,.2);
            border-radius: 1rem;
            padding:10px;
            margin-right: 60px;
            margin-left: 60px;

        }
        /*hobbies section*/
        .section .box-container{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin-left: 120px;
        }

        .section .box-container .box{
            margin:1rem;
            padding:10px;
            border-radius: 1rem;
            box-shadow: 0 1rem 2rem 1rem rgba(0,0,0,.2);
            background: rgba(255,255,255,.2);
            text-align: center;
            width:32rem;
        }

        .section .box-container .box .p{
            font-size: 20px;
            padding:.5rem 5rem;
        }

        footer {
            text-align: center;
            margin-top: 20px;
            padding: 10px;
            background-color: #333;
            color: #fff;
        }